@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }

  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms ease-in-out 100ms, opacity 300ms ease-in-out 100ms;
    transform-origin: $origin;
  }

  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }

  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms ease-in-out 100ms, opacity 300ms ease-in-out 100ms;
    transform-origin: $origin;
  }
}

@mixin fade-animation() {
  .fade-in-enter {
    opacity: 0;
  }

  .fade-in-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }

  .fade-in-exit {
    opacity: 1;
  }

  .fade-in-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}

@mixin slide-animation(
  $direction: 'top',
  $translateStartY: -100%,
  $translateStartX: 0
) {
  .slide-in-#{$direction}-enter {
    opacity: 0;
    transform: translate($translateStartX, $translateStartY);
  }

  .slide-in-#{$direction}-enter-active {
    opacity: 1;
    transform: translate(0);
    transition: transform 200ms ease-out, opacity 200ms ease-in-out;
  }

  .slide-in-#{$direction}-exit {
    opacity: 1;
  }

  .slide-in-#{$direction}-exit-active {
    opacity: 0;
    transform: translate($translateStartX, $translateStartY);
    transition: transform 300ms linear 100ms, opacity 300ms ease-in-out;
  }
}
